
 body, html {
  height: 100%;
  margin: 0;
}
 .notfound{
   height: 100vh;
   width: 100vw;
   background-color: #D7DBDD;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 #cardContainer1:hover{
    transform: scale(1.1) ;
    
    transition: all 0.5s ease;
    
 }